.parent {
  background: #fafafa;
  padding: 100px 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  .block {
    background: #fff;
    padding: 30px;
    border-radius: 25px;
    h2 {
      font-size: 30px;
      font-weight: 500;
      color: #000000;
      line-height: 40px;
    }
    .block_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #979797;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .choose {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-top: 15px;

      p {
        border-radius: 10px;
        transition: 0.2s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
        text-align: center;
        color: #121212;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
      }
      p:hover,
      .selected {
        box-shadow: 0px 1px 1.4px 0px #00000029;
        background: #ffdd2d;
      }
    }
    .main {
      margin-top: 25px;
      .titles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        p {
          font-size: 14px;
          font-weight: 400;
          color: #b1b1b1;
          line-height: 20px;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .child {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 64px;
          .currency {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          span {
            font-size: 16px;
            font-weight: 600;
            color: #8c8c8c;
            text-transform: uppercase;
          }
          p {
            font-size: 19px;
            font-weight: 600;
            color: #313131;
          }
        }
      }
    }
    .currencies {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 25px;
      p {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        color: #000000;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        transition: all 0.2s ease-in;
        border-radius: 10px;
        cursor: pointer;
      }
      p:hover,
      .selected {
        background: #1e1e1e;
        color: #fff;
      }
    }
    .input_block {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      label {
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        margin-top: 10px;
      }
      input {
        border: 1px solid transparent;
        padding: 20px;
        background: #fafafa;
        outline: none;
        border-radius: 15px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
        &:focus-within {
          border-color: #ffdd2d;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .content{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 770px) {
  .parent{
    padding: 60px 0;
    .content{
      .block{
        padding: 20px;
        .currencies{
          p{
            padding: 5px 0;
          } 
        }
      }
      h2{
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 450px) {
  .parent {
    .content {
      .block:first-child {
        overflow-x: auto;
        .main {
          width: 500px; 
          min-width: 500px;
        }
      }
      .currencies{
        gap: 0;
      }
    }
  }
}

