.parent {
  background: #fafafa;
  padding: 100px 0;
}

.content {
  h1 {
    text-align: center;
    font-size: 45px;
    color: #0f0f0f;
    font-weight: 700;
    line-height: 58px;
  }

  .main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    .top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }

    .bottom {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      .card {
        article {
          width: 80%;
          h2 {
            font-size: 20px;
          }
        }
      }
    }
    .card {
      border-radius: 25px;
      background: #ffffff;
      height: 280px;
      padding: 35px;
      position: relative;
      div {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      article {
        width: 50%;
        h2 {
          font-size: 30px;
          font-weight: 500;
          color: #0f0f0f;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: #484848;
          margin-top: 10px !important;
          line-height: 26px;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .content {
    .main {
      .card {
        height: 330px;
        article {
          width: unset;
        }
      }
      .bottom {
        .card {
          article {
            width: unset;
          }
          div {
            img {
              width: 135px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .parent{
    padding: 40px 0;
  }
  .content {
    h1 {
      font-size: 25px !important;
      text-align: start;
      line-height: 30px;
    }
    .main {
      margin-top: 20px;
      .bottom,
      .top {
        grid-template-columns: 1fr;
        gap: 20px;
        .card {
          height: 280px;
          padding: 25px;
          border-radius: 15px;
          article {
            h2 {
              font-size: 20px;
            }
            p {
              line-height: 18px;
            }
          }
        }
      }
      .bottom {
        .card {
          div {
            img {
              width: 200px;
            }
          }
        }
      }
    }
  }
}
