.content {
  margin: 60px 0;
  h1 {
    font-size: 45px;
    font-weight: 700;
    color: #000000;
    line-height: 58px;
  }

  .main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    .block {
      padding: 30px;
      border-radius: 20px;
      background: #f6f7f8;

      .icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffdd2d;
        border-radius: 50%;
      }
      .heading {
        font-size: 16px;
        font-weight: 400;
        color: #9f9f9f;
      }

      .desc {
        font-size: 20px;
        font-weight: 500;
        color: #101010;
        display: flex;
        flex-direction: column;
      }
    }
    .socials {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 15px;
      .media {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #ffdd2d;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 770px) {
  .content{
    margin-top: 20px;
    h1{
      font-size: 25px;
      line-height: 30px;
    }
    .main{
      grid-template-columns: 1fr;
      gap: 20px;
      margin-top: 20px;
      .icon{
        width: 40px;
        height: 40px;
      }
      .block{
        padding: 30px 15px;
        border-radius: 15px;
        .desc{
          font-size: 16px;
          margin-top: 10px !important;

        }
        .heading{
          font-size: 14px;
        }
      }
    }
  }
}