.content {
  padding: 60px 0;
  .search {
    h1 {
      font-size: 45px;
      font-weight: 700;
      color: #18191c;
      line-height: 58px;
    }
    .input_block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
      border-radius: 8px;
      background: #fafafa;
      border: 1px solid transparent;
      margin-top: 20px;
      padding: 8px 20px;
      input {
        width: 90%;
        border: none;
        outline: none;
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        background: none;
      }
      &:focus-within {
        border-color: #ffdd2de5;
      }
    }
  }
  .section {
    margin-top: 60px;
    border-bottom: 1px solid #b1b1b138;
    .desc{
        font-size: 16px;
        font-weight: 400;
        color: #C5B657;
        margin-top: 25px !important;
    }
    .titles {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 20px;
      p {
        font-size: 14px;
        font-weight: 400;
        color: #b1b1b1;
        line-height: 20px;
      }
    }
    .titles2 {
      width: 50%;
      margin: 0;
      margin-top: 25px;
      p {
        font-weight: 500;
      }
    }
    .goldInfo {
        padding-bottom: 40px;
      width: 50%;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font-size: 16px;
          font-weight: 400;
          color: #18191c;
        }
      }
    }
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 90px;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
      color: #18191c;
      line-height: 35px;
    }
    .block {
      margin-top: 25px;
      h2 {
        font-size: 16px;
        font-weight: 400;
        color: #c5b657;
        line-height: 32px;
      }
      .box {
        margin-top: 25px;

        .child {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 64px;
          .currency {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          span {
            font-size: 16px;
            font-weight: 600;
            color: #8c8c8c;
            text-transform: uppercase;
          }
          p {
            font-size: 16px;
            font-weight: 400;
            color: #313131;
          }
        }
      }
    }
  }
}


@media (max-width: 820px) {
  .content{
    padding: 20px 0;
    .search{
      h1{
        font-size: 25px;
        line-height: 30px;
      }
    }
    .input_block{
      width: 100% !important;
    }
    .section{
      margin-top: 30px;
      .block{
        margin-top: 15px;
      }
      .main{
        grid-template-columns: 1fr;
        gap: 30px;
      }
      .goldInfo, .titles2{
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .content{
    .section{
      .block{
        .box{
          .child{
            span , p{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}