.parent {
  background: #fafafa;
  padding-bottom: 100px;
  .link {
    background: #ffdd2d;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 1.4px 0px #00000029;

    color: #0f0f0f;
    text-decoration: none;
    height: 45px;
  }
  .banner {
    background: #ffffff;
    padding: 45px 0;

    .bannerContent {
      display: grid;
      grid-template-columns: 2fr 1fr;
      article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 35px;
        h2 {
          font-size: 45px;
          font-weight: 700;
          color: #0f0f0f;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: #1e1e1e;
        }
      }
    }
  }

  .content {
    padding-top: 60px;
    h2{
      font-size: 45px;
      font-weight: 700;
      color: #0f0f0f;
    }
    .box {
      padding: 35px;
      border-radius: 20px;
      background: #ffffff;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 25px;
      margin-top: 30px;
      .currencies {
        display: flex;
        gap: 15px;
        align-items: center;
        .currency {
          height: 30px;
          padding: 0 10px;
          display: flex;
          align-items: center;
          cursor: pointer;
          justify-content: center;
          color: #000000;
          font-size: 16px;
          font-weight: 500;
          background: transparent;
          border-radius: 10px;
          transition: 0.2s ease-in;
        }
        .currency:hover,
        .selected {
          background: #1e1e1e;
          color: #fff;
        }
      }
      form {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .input_block {
          padding: 25px;
          background: #fafafa;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          input {
            background: none;
            margin-top: 0;
            outline: none;
            border: none;
          }
        }
        .input_block2 {
          display: flex;
          padding: 15px 25px;
          flex-direction: column;
          background: #fafafa;
          border-radius: 15px;
          label {
            font-size: 14px;
            font-weight: 400;
            color: #484848;
          }
          input {
            background: none;
            outline: none;
            border: none;
          }
        }
        .bottom {
          display: flex;
          margin-top: 5px;
          gap: 25px;
          align-items: center;
          .checks {
            display: flex;
            align-items: center;
            gap: 8px;
            label {
              font-size: 14px;
              font-weight: 400;
              color: #63696b;
            }
            input {
              width: 18px;
              height: 18px;
              border: #c8c8c8;
              border-radius: 4px;
            }
          }
        }
      }
      .child2 {
        padding: 25px;
        border-radius: 15px;
        background: #fafafa;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
        height: 246px;
        div {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 16px;
          line-height: 26px;
          font-weight: 800;
          color: #636970;
          p {
            font-size: 25px;
            line-height: 40px;
            font-weight: 700;
            color: #000000;
          }
        }
      }
    }
    .main {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media (max-width: 1000px) {
  .parent{
    .content{
    .box{
      grid-template-columns: 1fr;
    }
    }
  }
}

@media (max-width: 770px) {
  .parent{
    .banner{
     .bannerContent{
       display: flex;
      flex-direction: column-reverse;
      gap: 20px;
      img{
        width: 100%;
        max-height: 300px;
        height: auto;
      }
      article{
        gap: 15px;
        h2{
          font-size: 25px;
         
        }
         p{
            font-size: 14px;
          }
      }
     }
    }
    .content{
      padding-top: 35px;
      h2{
        font-size: 25px;
      }
      .box{
        border-radius: 20px;
        padding: 30px 20px;
        gap: 40px;
        form{
          .bottom{
            flex-direction: column;
            align-items: start;
            gap: 10px;
          }
        }
        .child2{
          border-radius: 20px;
          padding: 20px;
          div{
            font-size: 14px;
            word-wrap:break-word;
            p{
              font-size: 18px;
              white-space: nowrap;
            }
          }
        }
      }
      .main{
        margin-top: 30px;
      }
    }
  }
}