.parent {
  padding: 120px 0;
  background: #fff;

  .slider {
    overflow-x: hidden;
    border-radius: 12px;
    overflow-y: visible;
    padding-top: 40px;
  }

  .slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
  }

  .block {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow-y: visible;

    .image {
      position: relative;
      overflow-y: visible;
    }

    .posImg {
      position: absolute;
      top: -20px;
      animation: float 3s ease-in-out infinite;
      left: 100px;
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 25px;
      flex: 1;

      h2 {
        font-size: 45px;
        color: #0f0f0f;
        width: 80%;
        line-height: 50px;
        font-weight: 700;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        color: #1e1e1e;
        line-height: 26px;
        width: 70%;
      }

      .more {
        background: #ffdd2d;
        border-radius: 10px;
        padding: 10px;
        width: 230px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        text-decoration: none;
        transition: 0.2s ease-in;

        &:hover {
          background: #ffdc2de0;
        }
      }

      .location {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .dot {
          border-radius: 50%;
          background: #e3e3e5;
          width: 10px;
          height: 10px;
          transition: background 0.3s ease;

          &.active {
            background: #ffdd2d;
          }
        }
      }
    }
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@media (max-width: 960px) {
  .parent {
    .block {
      article {
        h2,
        p {
          width: unset;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .parent {
    padding: 0 0 40px 0;
    .block {
      flex-direction: column-reverse;
      gap: 20px;
      .image {
        img:nth-of-type(1) {
          width: 320px;
        }
        img:nth-of-type(2) {
          width: 50px;
          left: 40px;
          top: 10px;
        }
      }
      article {
        gap: 10px;
        justify-content: unset;
        h2 {
          font-size: 25px;
          line-height: 35px;
        }
        .more {
          display: none;
        }
      }
    }
  }
}
