.parent {
  background: #0f0f0f;
  padding: 40px;
  .content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0 50px;
    .block1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 10px;
      h2 {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        line-height: 35px;
      }
      nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        a {
          text-decoration: none;
          color: #f1f1f1;
          font-size: 14px;
          font-weight: 400;
          transition: 0.2s ease-in;
          width: fit-content;
          &:hover {
            color: #ffdd2d;
          }
        }
      }
    }
    .block2 {
      border-left: 1px solid #d8dbde;
      padding: 0px 80px;
      margin-top: 10px;
      p {
        font-size: 14px;
        font-weight: 400;
        color: #f4f4f4;
        line-height: 20px;
      }
      .socials {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 14px;
        a {
          background: #ffffff;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .address {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        .text {
          font-size: 16px;
          font-weight: 400;
          color: #f1f1f1;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .parent {
    .content {
      .block1 {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
      .block2 {
        padding: 0 0 0 35px;
      }
    }
  }
}

@media (max-width: 770px) {
  .parent {
    padding: 40px 0;
    .content {
      grid-template-columns: 1fr;
      gap: 40px;
      margin: 0;
      .block1 {
        gap: 30px;
        h2 {
          font-size: 18px;
        }
        div:first-child {
          grid-column: 1/3;
        }
      }
      .block2 {
        border: none;
        padding: 0;
        .address {
          .text {
            font-size: 14px;
          }
        }
      }
    }
  }
}
