.parent {
  background: #ffdd2d;
  padding: 150px 0;
}

.parent2 {
  background: url(../../assets/illust.svg);
  background-repeat: repeat;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
  article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-size: 45px;
      font-weight: 700;
      color: #0f0f0f;
      line-height: 58px;
    }
    p {
      color: #0f0f0f;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
    .download {
      display: flex;
      gap: 12px;
      margin-top: 20px;
    }
  }
  .image {
    display: flex;
    overflow: hidden;
    position: absolute;
    right: -90px;
    bottom: -150px;
    width: auto;
    img:nth-of-type(1) {
      width: 100%;
      overflow: hidden;
    }
    .qr {
      position: absolute;
      padding: 14px 18px;
      background: #fff;
      border-radius: 15px;
      top: 290px;
      left: 230px;
    }
  }
}

@media (max-width: 1100px) {
  .parent {
    padding: 30px 0 300px 0;
  }

  .content {
    grid-template-columns: 1fr;
    text-align: center;

    article {
      align-items: center;

      h2 {
        font-size: 36px;
        line-height: 48px;
      }

      p {
        max-width: 500px;
      }

      .download {
        justify-content: center;
      }
    }

    .image {
      // position: static;
      justify-content: center;
      bottom: -148%;
      right: 120px;
      img:nth-of-type(1) {
        max-width: 500px;
        width: unset;
      }

      .qr {
        position: absolute;
        top: auto;
        left: 120px;
        bottom: 80px;
        transform: scale(0.8);
        width: 140px;
      }
    }
  }
}

@media (max-width: 768px) {
  .content article {
    gap: 10px;
    h2 {
      font-size: 25px;
      line-height: 38px;
    }

    p {
      font-size: 15px;
      line-height: 24px;
    }

    .download img {
      width: 130px;
    }
  }

  .content {
    .image {
      bottom: -300px;
      right: -5%;
    }
  }
}

@media (max-width: 580px) {
  .content {
    article {
      p,
      h2 {
        text-align: start !important;
      }
    }
    .image {
      right: 0;
      bottom: -300px;
    }
  }
}
