.content {
  margin: 60px 0;
  h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
  }
  .title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px !important;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    .card {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      background: #fafafa;
      border-radius: 15px;
      .block {
        display: flex;
        align-items: center;
        gap: 20px;
        p {
          font-size: 20px;
          font-weight: 500;
          color: #000000;
        }
        div {
          display: flex;
          align-items: center;
          display: flex;
          gap: 10px;
          cursor: pointer;
          padding: 10px;
          border-radius: 10px;
          background: #ffffff;
          box-shadow: 0px 1px 4px 0px #b1b1b157;
            font-size: 14px;
            font-weight: 600;
          p {
            display: flex;
          }
        }
      }
      .block:last-child{
        gap: 10px;
      }
    }
  }
}


@media (max-width: 770px) {
    .content{
        margin: 30px 0 40px 0;
        h2{
            font-size: 25px;
            text-align: start;
        }
        .title{
            margin-top: 10px !important;
            font-size: 14px;
            text-align: start;
        }
        .cards{
            margin-top: 30px;
            .card{
                border-radius: 20px;
            flex-direction: column;
            gap: 30px;
            .block{
                p{
                    font-size: 18px;
                }
            }
            .block:last-child{
                div{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
            }
        }
    }
}