.content {
  margin: 50px 0 80px 0;
  h2,
  .title {
    text-align: center;
  }
  h2 {
    font-size: 45px;
    font-weight: 700;
    color: #0f0f0f;
  }
  .title {
    font-size: 16px;
    font-weight: 400;
    color: #1e1e1e;
    margin-top: 15px !important;
  }
  .main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    .card {
      background: #fafafa;
      border-radius: 25px;
      padding: 35px 20px;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: start;
        .child {
          h3 {
            font-size: 30px;
            font-weight: 500;
            color: #0f0f0f;
          }
          p {
            color: #484848;
            margin-top: 8px !important;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
      .body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        .box {
          .heading {
            font-size: 14px;
            font-weight: 400;
            color: #484848;
          }
          .text {
            font-size: 20px;
            font-weight: 600;
            color: #0f0f0f;
            margin-top: 8px !important
                        ;
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .content {
    margin: 40px 0 60px 0;
    h2 {
      font-size: 25px;
      text-align: start;
    }
    .title {
      font-size: 14px;
      margin-top: 5px !important;
      text-align: start;
    }
    .main {
      margin-top: 20px;
      grid-template-columns: 1fr;
      gap: 20px;
      .card {
        border-radius: 15px;
        padding: 20px;
        .head {
          flex-direction: column-reverse;
          gap: 20px;
          .child {
            h3 {
              font-size: 20px;
            }
            p {
              margin-top: 5px !important;
            }
          }
        }
        .body {
          margin-top: 20px;
          flex-direction: column;
          align-items: start;
          gap: 15px;
          .box {
            .text {
              font-size: 18px;
              margin-top: 5px !important;
            }
          }
        }
      }
    }
  }
}
