.content {
  margin: 50px 0 70px 0;
  h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0f0f0f;
  }
  .main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .form2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .input_block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 15px;
    background: #fafafa;
    label {
      font-size: 14px;
      font-weight: 400;
      color: #484848;
    }
    input {
      width: 90%;
      border: none;
      background: none;
      outline: none;
      font-size: 16px;
      color: #0f0f0f;
      font-weight: 500;
    }
  }
  .input_block2 {
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-size: 14px;
        font-weight: 400;
        color: #484848;
      }

      input {
        width: 90%;
        border: none;
        background: none;
        font-size: 18px;
        color: #0f0f0f;
        outline: none;
      }
    }
  }
  .bottom {
    display: flex;
    gap: 25px;
    align-items: center;
    button {
      width: 200px;
      height: 48px;
      background: #ffdd2d;
      box-shadow: 0px 1px 1.4px 0px #00000029;
      border-radius: 10px;
      border: none;
      outline: none;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #484848;
      line-height: 20px;
      p {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    .block{
        background: #FAFAFA;
        border-radius: 25px;
        padding: 35px;
        .text{
            font-size: 16px;
            font-weight: 400;
            color: #484848;
            line-height: 26px;
            margin-top: 10px !important;
        }
        .head{
            display: flex;
            align-items: center;
            gap: 10px;
            p{
                font-size: 20px;
                font-weight: 600;
                color: #0F0F0F;
            }
        }
        
    }
  }
}
