.parent{
    padding: 40px 0 60px 0;
    background: #FAFAFA;
}
.content{
    h2{
        text-align: center;
        font-size: 45px;
        font-weight: 700;
    }
    .title{
        font-size: 16px;
        font-weight: 400;
        color: #1E1E1E;
        margin-top: 15px !important;
        text-align: center;
    }
    .main{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 770px) {
   .parent{
    padding: 30px 0 60px 0;
   }
   .content{
    h2{
        font-size: 25px;
    }
    .title{
        font-size: 14px;
        margin-top: 10px !important;
    }
    .main{
        margin-top: 30px;
    }
   }
}