.wrapper {
  margin-top: 15px;
  box-shadow: 0px 13px 16px 0px #4f69761a;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  .link {
    background: #ffdd2d;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 1.4px 0px #00000029;
    color: #0f0f0f;
    text-decoration: none;
    height: 40px;
  }
  .head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
      box-shadow: 0px 0px 5px 0px #4f69761a;
      background: #fff;
      text-align: center;
      padding: 20px;
      border-top-left-radius: 25px;
      border-top-right-radius: 12px;
      font-size: 16px;
      font-weight: 400;
      color: #919399;
      cursor: pointer;
      transition: 0.2s ease-in;
    }
    div:nth-of-type(2) {
      border-top-left-radius: 12px;
      border-top-right-radius: 25px;
    }

    div:hover,
    .selected {
      color: #242729;
    }
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px 50px 50px 50px;
    background: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    article {
      display: flex;
      flex-direction: column;
      //   margin-top: 20px;
      gap: 25px;
      h3 {
        font-size: 20px;
        font-weight: 600;
        color: #242729;
        line-height: 29px;
        width: 60%;
      }
      .textWrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .text {
        display: flex;
        gap: 3px;
        font-size: 14px;
        font-weight: 700;
        align-items: center;
        color: #ffdd2d;
        p {
          font-size: 16px !important;
          font-weight: 400;
          color: #242729;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        gap: 12px;
        div {
          width: 40px;
          cursor: pointer;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background: #ffdd2d;
        }
      }
    }
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.info_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 25px;
  margin-top: 50px;
  .card:last-child {
    grid-column: 1/3;
  }
  .card {
    background: #fff;
    padding: 35px;
    border-radius: 25px;
    .head {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;
      h2 {
        font-size: 20px;
        font-weight: 600;
        color: #0f0f0f;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #0f0f0f;
      margin-top: 10px !important;
    }
    .desc {
      font-size: 16px;
      font-weight: 400;
      color: #484848;
      line-height: 26px;
    }
  }
}

@media (max-width: 770px) {
  .wrapper {
    .head {
      div {
        padding: 10px;
        border-top-left-radius: 15px;
      }
      div:nth-of-type(2) {
        border-top-right-radius: 15px;
        border-top-left-radius: 12px;
      }
    }
    .main {
      display: flex;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      flex-direction: column-reverse;
      gap: 30px;
      padding: 20px;
      .img {
        img {
          width: 300px;
        }
      }
      article {
        gap: 16px !important;
        h3 {
          width: unset;
        }
        .textWrapper {
          .text {
            p {
              font-size: 15px !important;
            }
          }
        }
      }
    }
  }
  .info_block {
    grid-template-columns: 1fr;
    margin-top: 40px;
    .card:last-child {
      grid-column: unset;
    }
    .card {
      padding: 20px;
      border-radius: 15px;
      .head{
        h2{
          font-size: 18px !important;
        }

      }
      h3{
        font-size: 16px !important;
      }
      .desc{
        font-size: 14px;
      }
    }
  }
}
