.content {
  margin: 60px 0;

  h1 {
    font-size: 45px;
    font-weight: 700;
    color: #0f0f0f;
    line-height: 58px;
    text-align: center;
  }

  .main {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      height: 0px;
    }

    .news_card {
      flex: 0 0 auto;
      width: 455px;
      article {
        padding: 25px;
        background: #fafafa;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;

        h2 {
          font-size: 18px;
          font-weight: 500;
          color: #000000;
          line-height: 26px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          color: #1e1e1e;
          line-height: 26px;
          margin-top: 10px !important;
        }

        .bottom {
          display: flex;
          align-items: center;
          gap: 50px;
          margin-top: 15px;

          p {
            font-size: 15px;
            font-weight: 400;
            color: #747b8f;
            line-height: 26px;
          }
        }
      }

      .image {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 250px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .btnWrapper{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
  }
  .btn{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B1B1B17A;
    border-radius: 10px;
    width: 180px;
    height: 48px;
    padding: 0 10px;

  }
}

@media (max-width: 770px) {
  .content{
    margin-top: 40px;
    h1{
      font-size: 25px;
      line-height: 28px;
    }
    .main{
      margin-top: 25px;
      .news_card{
        width: 330px;
        .image{
          height: 230px;
        }
        article{
          padding: 20px;
        }
      }
    }
  }
  .btnWrapper{
    margin-top: 20px !important;
   .btn{
     font-size: 14px;
    width: 150px;
   }
  }
}
